<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="row vh-100">
            <div class="col d-flex justify-content-center align-items-center flex-column text-center">
                <img src="img/exclamation-fill.svg" alt="" >
                <span class="badge bg-danger fs-1 my-3">¡No tienes acceso!</span>
                <p>Vuelve a la <a href="/" class="text-decoration-none">pantalla principal</a> o contacta con el administrador</p>
            </div>
        </div>
    </div>
</body>
</html>