body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    background-color: #f8f9fa;
}
.rounded-4 { border-radius: .5rem; }

.rounded-5 { border-radius: .75rem; }

.rounded-6 { border-radius: 1rem; }

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }